*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}
.header{
    height: 55PX;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
   

}
h1{
    color: white;

}

a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bolder;
}
.hero{
    height: 450px;
    width: auto;
    text-align: center;  
    background-color: #18BC9C;
}
.hero img{

    height: 290px;
    width: 240px;
    margin: 30px;
}
.hero h1{ 
    text-align: center;
    font-size: 2em;
    color:white;

}
p{ 
    color: #999999;
    margin: 20px;
  text-align: center;
}
input{
    height: 30px;
    margin: 20px 0px;
    width: 395px;
    
}
.email{
    text-align: center;
}
button{
    height: 30px;
    background-color: #18BC9C;
    color: floralwhite;
    font-weight: 700;
    border-radius: 5px;
    width: 54px;
}
.gro{

   
   color:#999999;
    font-size: xxx-large;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;

}
.boss{
       display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0px 100px;
}
.child{
    height: 290px;
    width: 230px;
    background-color: antiquewhite;
    border-radius: 55px


}
.child img{
    border-radius: 75px;
    margin: 10px;
    margin-left: 38px;
}
.child h3{
    text-align: center;
    font-size: xx-large;
}
.child p{
    text-align: center;
    color: black;
    margin: 0%;
}
.last{
    height: 201px;
    margin-top: 69px;
    background-color: #1f2937;
}
.last{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    color: white;
    text-align: center;
    font-size: xxx-large;
}
h4{
    color: white;
    text-align: center;
}
.msg{
    text-align: center;
    background-color: #1f2937;
    color: white;
    font-weight: 400;
    
}